@use '../utils/mixins' as *;

.about {
  padding: 70px 0;
  background-image: url("../../img/diagnostic-lab-content-gradient-bg 1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  &__title {
    padding: 0 50px;
  }
  &__item {
    display: flex;
  }
  &__img {
    width: 50%;
    height: auto;
    border-radius: 15px 15px 15px 0;
    @include tablet {
      display: none;
    }
  }
  &__text {
    p {
      padding: 50px;
      line-height: 1.6;
    }
  }
}
.reverse {
  flex-direction: row-reverse;
}