.yellow-button {
  height: 50px;
  width: 123px;
  padding: 10px 25px;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: white;
  color: var(--color-accent);
  border-radius: 8px;
  line-height: 30px;
  border: 1px solid var(--color-accent);
}